header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
  }
  nav li{
    float: left;
  }
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  nav ul li img {
    width: 20%;
    height: auto;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li a:hover {
    background: #eca023;
  }
	
