*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
}
header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    top: 0;
    z-index: 100;
  }
  nav li{
    float: left;
    padding: 20px;
  }
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  nav ul li img {
    width: 20%;
    height: auto;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li a:hover {
    background: #eca023;
  }
  section {
    width: 100%;
    padding: 20px;
  }
  article {
    border: 1px solid rgb(158, 158, 158);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5)  ;
    padding: 10px;
    width: 100%;
    margin: 10px;
  }
  footer {
    width:100%;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
  }
  footer h6 {
    color: #fff;
  }
